{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for('static', filename='js/404.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock head %}

{% block title %}500 Error{% endblock title %}

{% block body %}
<div class="hel">
<h1 class="h1">500 Error</h1>
  <div class="p">The server accidently throw an server error. Sorry for inconvinience. Tell what you are doing and server throw error.</div>
  <a class="a"href="/">Go home!</a>
</div>
{% endblock body %}