{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script><link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endblock head %}
{% block title %}About Us{% endblock title %} 

{% block body %}

<div>

<h1>About <b>NEG.EDU.NP</b></h1>
<p> Welcome to <b>NEG.EDU.NP</b> where we share information related to Educational. We're dedicated to providing you the very best information and knowledge of the above mentioned topics.</p>

<p>We hope you found all of the information on <b>NEG.EDU.NP</b> helpful, as we love to share them with you.</p>

<p>If you require any more information or have any questions about our site, please feel free to contact us by email at <b>contact@abhinavgyawali.ml</b>.</p>



</div>
{% endblock body %}